<%= modal header: {text: "#{@persistent_service_consumer.label} for #{@app.name}", icon: 'fa-compass'}, footer_close: true do %>
  <%= up_to_app_service_consumers_link(@app) %>
  <%= content_tag :div, class: 'dl-horizontal' do %>
    <%= content_tag :div, class: 'display_inline' do %>
      <%= resource_link :app_service_consumer_persistent_export, params: {
        app_id: @app.id,
        publisher_type_path: @persistent_service_consumer.publisher_type_path,
        service_handle: @persistent_service_consumer.service_handle },
        remote: false, spinner: false,
        text: 'Export', icon: 'fa-upload',
        title: "Export data from #{@persistent_service_consumer.label} for #{@app.name}" %>
    <% end %>
    <%= content_tag :div, class: 'display_inline' do %>
      <%= resource_link :new_app_service_consumer_persistent_import, params: {
        app_id: @app.id,
        publisher_type_path: @persistent_service_consumer.publisher_type_path,
        service_handle: @persistent_service_consumer.service_handle },
        text: 'Import', icon: 'fa-download',
        title: "Import data to #{@persistent_service_consumer.label} for #{@app.name}" %>
    <% end %>
    <hr>
    <p><strong>Subservices</strong></p>
    <div class="clearfix">
      <%= resource_link :new_app_service_consumer_persistent_subservice, params: {
          app_id: @app.id,
          publisher_type_path: @persistent_service_consumer.publisher_type_path,
          service_handle: @persistent_service_consumer.service_handle },
        text: 'New', icon: 'fa-plus-square-o', class: 'pull-right',
        title: "New subservice on #{@persistent_service_consumer.label} for #{@app.name}" %>
    </div>
    <% #= pretty_print @persistent_service_consumer.subservice_consumers %>
    <hr>
    <p><strong>Immutable</strong></p>
    <% @persistent_service_consumer.grouped_field_params_with_values[:immutable].
                  each do |consumer_param| %>
      <%= data_list_text (
            consumer_param[:label] ||
              consumer_param[:name].to_s.humanize ),
            consumer_param[:value] %>
      <% # = pretty_print consumer_param %>
    <% end %>
    <% if @persistent_service_consumer.grouped_field_params_with_values[:immutable].empty? %>
      <p><i>None</i></p>
    <% end %>
    <br>
    <p><strong>Mutable</strong></p>
    <% @persistent_service_consumer.grouped_field_params_with_values[:mutable].each do |consumer_param| %>
      <%= data_list_text (
          consumer_param[:label] ||
            consumer_param[:name].to_s.humanize ),
          consumer_param[:value] %>
      <% # = pretty_print consumer_param %>
    <% end %>
    <% if @persistent_service_consumer.grouped_field_params_with_values[:mutable].empty? %>
      <p><i>None</i></p>
    <% else %>
      <div class="clearfix">
        <div class="pull_right_wide_media">
          <%= edit_resource_link :app_service_consumer_persistent, params: {
            app_id: @app.id,
            publisher_type_path: @persistent_service_consumer.publisher_type_path,
            service_handle: @persistent_service_consumer.service_handle },
            text: 'Edit', title: "Edit #{@persistent_service_consumer.label}" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <%= destroy_resource_link :new_app_service_consumer_persistent_destroy, params: {
    app_id: @app.id,
    publisher_type_path: @persistent_service_consumer.publisher_type_path,
    service_handle: @persistent_service_consumer.service_handle },
    method: :get,
    text: 'Delete',
    confirm: { text: "Are you sure that you want to delete #{@persistent_service_consumer.label} from #{@app.name}?" },
    title: "Delete service #{@persistent_service_consumer.label} for #{@app.name}" %>
<% end %>
