<%= form_for(resource, as: resource_name, url: session_path(resource_name), user_sign_in_form: true) do |f| %>
  <%= f.engines_field :username, horizontal: true, left: 4, width: 6 %>
  <%= f.engines_field :password, as: :password, horizontal: true, left: 4, width: 6 %>
  <%= f.engines_cancel_submit({url: root_path}, { text: 'Sign in', icon: 'fa-sign-in' }) %>
<% end %>
<div class="col-sm-12">
  <hr>
  <%= render "users/shared/links" %>
</div>
