<%= content_tag :div, class: 'page_view' do %>
  <%= content_tag :div, class: 'row' do %>
    <%= content_tag :div, class: 'col-sm-12' do %>
      <% if @cloud.engines_systems.empty? %>
        <div class="text-center">
          <% if Rails.application.config.local_system_api_url.present? &&
                  @cloud.user_profile.clouds.count == 1 &&
                  @cloud.engines_systems.count == 0 %>
            <%= new_cloud_local_system_link(@cloud) %>
          <% else %>
            <%= new_cloud_system_link(@cloud) %></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% @cloud.engines_systems.each do |engines_system| %>
    <%= content_tag :div, class: 'row' do %>
      <%= content_tag :div, class: 'col-sm-12' do %>
        <%= content_tag :div, class: 'modal-content' do %>
          <%= content_tag :div, id: "engines_system_#{engines_system.id}", class: 'engines_system clearfix modal-body' do %>
            <%= content_tag :div, system_connection_menu_link(engines_system) %>
            <%= content_tag :div, "Connecting #{engines_system.url}", class: 'engines_system_connecting_message text-center' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <script>
      remote_get('<%= cloud_system_path(engines_system_id: engines_system.id) %>');
    </script>
  <% end %>


<% end %>
