<%= modal footer_close: true,
      header: {text: "#{@app.name} installation report", icon: 'fa-list-ol'},
      id: "remote_modal" do %>
  <%= up_to_app_control_panel_link(@app) %>
  <div class="btn-toolbar">
    <%= link_to content_tag(:i, "", class: "fa fa-level-up") + ' Popup report',
          app_installation_report_popup_path(app_id: @app.id),
          target: "engines_app_#{@app.id}",
          class: 'btn btn-lg btn_resource',
          data: {popup: true} %>
    <% if @app.first_run_url.present? %>
      <%= link_to icon_text('fa-external-link', 'First run'),
            @app.first_run_url,
            target: @app.first_run_url,
            class: 'btn btn-lg btn_resource',
            data: {popup: true} %>
    <% end %>
  </div>
  <hr>
  <div id="installation_report_content">
    <%= markdown_text @app.core_app.build_report %>
  </div>
<% end %>
