<% begin %>
  <% container_processes = @service.core_service.container_processes %>
<% rescue EnginesError #EnginesSystemApiResourceNotFoundError %>
  <% container_processes = nil %>
<% end %>

<%= modal footer_close: true, large: true, header: {text: "Processes for #{@service.name}", icon: 'fa-list-alt'} do %>
  <%= up_to_service_control_panel_link(@service) %>
  <%= resource_link :service_processes, params: {service_id: @service.id}, text: 'Refresh', icon: 'fa-repeat', title: "Resfresh processes for #{@service.name}" %>
  <% if container_processes %>
    <table class="table">
      <tr>
        <% container_processes[:'Titles'].each do |column_heading| %>
          <th><%= column_heading %></th>
        <% end %>
      </tr>
      <% container_processes[:'Processes'].each do |process_detail| %>
        <tr>
          <% process_detail.each do |process_detail| %>
            <td><%= process_detail %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    Container not running.
  <% end %>
<% end %>
