<%= modal header: {text: 'Certificate upload', icon: 'fa-upload'} do %>
  <p><label>Step 2</label></p>
  <%= custom_form_for @certificate_private_key, url: system_certificates_upload_private_key_path(engines_system_id: @certificate_private_key.engines_system.id), method: :post do |f| %>
    <%= f.engines_field :certificate_string, as: :hidden %>
    <%= f.engines_field :certificate_cname, as: :hidden %>
    <% if @certificate_private_key.certificate_cname.present? %>
      <%= f.engines_field :private_key_upload_method_selection, as: :radios, collection: [[:file, 'File'], [:text, 'Text']], label: 'Private key' %>
      <%= f.engines_field :private_key_file_upload, as: :file, horizontal: true, label: false, hint: 'PEM',
            depend_on: { input: 'engines_system_core_resources_certificate_upload_private_key_private_key_upload_method_selection_file', property: :checked} %>
      <%= f.engines_field :private_key_input, as: :text, label: false, hint: 'PEM',
            depend_on: { input: 'engines_system_core_resources_certificate_upload_private_key_private_key_upload_method_selection_text', property: :checked} %>
    <% else %>
      <%= f.engines_field :password, as: :password %>
    <% end %>
    <%= f.engines_cancel_submit(
        { url: system_certificates_path(engines_system_id: @certificate_private_key.engines_system.id),
          remote: true }, { text: 'Next', icon: 'fa-arrow-right' } ) %>
  <% end %>
<% end %>
