<% bug_report_data = @bug_report.data %>

<p>Sorry, you have encountered an error in the Engines management GUI.</p>

<% if Rails.application.config.bug_reports_server.present? %>
  <p>Please send a bug report to help us fix the problem.</p>
  <%= form_for :bug_report, url: bug_reports_path(), id: 'submit_bug_report_form' do |f| %>
    <%= f.hidden_field :data, value: bug_report_data.to_json %>
    <div class="clearfix">
      <div class="btn-group pull-right">
        <% if request.format == 'js' %>
          <%= button_tag type: 'button', 'data-dismiss': :modal, class: 'btn btn-warning' do %>
            <%= icon_text('fa-times', 'No thanks') %>
          <% end %>
        <% else %>
          <%= link_to icon_text('fa-times', 'No thanks'),:back,
            class: "btn btn-warning show_wait_for_system_response_spinner" %>
        <% end %>
    		<%= button_tag type: 'submit', id: "submit_bug_report_button", class: "btn btn-primary show_wait_for_system_response_spinner" do %>
    	    <%= icon_text('fa-send', 'Send bug report') %>
    	  <% end %>
      </div>
    </div>
  <% end %>
<% else %>
<div class="alert alert-warning alert-dismissible">Set ENV['BUG_REPORTS_SERVER'] to send bug reports.</div>
<% end %>

<hr>
<%= bug_report_data.dig :exception, :message %>
<br>
<div class="tab-content">
  <div class="tab-pane active" id="exception_backtrace_show_tab">
    <div class="clearfix">
      <%= exception_backtrace_show_link %>
    </div>
  </div>

  <div class="tab-pane" id="exception_backtrace_tab">
    <div class="clearfix">
      <%= exception_backtrace_hide_link %>
    </div>
<div class="exception_backtrace">
<%= pretty_print bug_report_data[:exception] %>
</pre>

  </div>
</div>
