<%= modal(header: {text: "Certificates for #{@engines_system.label}", icon: 'fa-certificate'}, footer_close: true) do %>
  <%= up_to_system_control_panel_link(@engines_system) %>
  <% cert_auth_service = @engines_system.installed_services.find{|service| service.name.to_s == 'cert_auth'} %>
  <% if cert_auth_service.present? && true # cert_auth_service.state == 'running'%>
    <%= new_system_domain_certificate_link(@engines_system) %>
    <%= system_ca_link(@engines_system) %>
    <%= system_domain_certificate_links(@engines_system) %>
  <% else %>
    <p>The cert_auth service must be running to manage certificates.</p>
  <% end %>
<% end %>
