<%= modal header: {text: "#{@actionator.to_label} for #{@actionator.service.name}", icon: 'fa-crosshairs'}, footer_close: true do %>
  <%= up_to_service_actions_link(@service) %>
  <p><%= @actionator.actionator_params[:description] %></p>
  <div class="panel panel-default">
    <div class="panel-body">
      <% case @actionator.return_type.to_sym
         when :markdown %>
        <%= markdown_text @actionator.api_post_result %>
      <% when :plain_text %>
        Result without splitting new lines<br><br>
        <%= @actionator.api_post_result %>
        <hr>
        Result split lines at "\n"<br><br>
        <% @actionator.api_post_result.split("\n").map do |line| %><%= line %><br><% end %>
        <hr>
        Result split lines at '\n'<br><br>
        <% @actionator.api_post_result.split('\n').map do |line| %><%= line %><br><% end %>
      <% end %>
    </div>
  </div>
<% end %>
