<%= modal header: {text: "Memory settings for #{@memory.app.name}", icon: 'fa-pie-chart'}, id: "remote_modal" do %>

  <%= content_tag :div, class: 'dl-horizontal' do %>
    <%= data_list_text 'Current', "#{@app.memory_metrics[:current].to_i/1024/1024} MB" %>
    <%= data_list_text 'Maximum', "#{@app.memory_metrics[:maximum].to_i/1024/1024} MB" %>
  <% end %>
  <hr>
  <% if true || @app.state == 'stopped'%>
    <%= render 'form' %>
  <% else %>
    <%= up_to_app_control_panel_link(@app) %>
    <%= data_list_text 'Memory', "#{@app.container[:memory]} MB" %>
    <hr>
    <p>The app must be stopped to change memory.</p>
  <% end %>
<% end %>
